body {
  text-align: center;
  padding:15px;
}

label{
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

input{
  display: block;
  box-sizing: border-box;
  margin: auto;

  height: 30px;
  width: 100%;

  border: 1px solid lightgray;
  border-radius: 10px;

  padding-left: 10px;
}

button{
  display: block;
  box-sizing: border-box;
  margin: 15px auto;

  height: 60px;
  width: 100%;

  border: none;
  border-radius: 20px;

  font-weight: bold;
  color: white;
  background-color: green;
}

.react-datepicker-wrapper{
  width: 100%;
}

.error{
  color: red;
  font-size: 70%;
  font-style: italic;
}